@import "mixins.less";
@import "typography.less";
@import "vars.less";

a {font-weight: bold;}
html {font-size: 62.5%}
body {
	font-family: 'Open Sans', sans-serif;
	color: @black;
}
footer {padding: 150px 0; padding: 30vh 0 !important;}


.bg:first-child, .bg.blue {
	padding: 150px 0;
	padding: 30vh 0;
}
.bg {
	padding: 8vh 0;
	min-height: 100vh;
}
.bg.black{background: @black; color: @white;}
.bg.grey-blue {
	background: @grey-blue; 
	color: @black; 
}
.btn {
	border-width: 1px; 
	border-radius: 0px;
	text-transform: uppercase;
}
.btn-ghost {
	background: none;
	border-color: @white;
	color: @white;
}

.bg.grey-blue{
	.btn-ghost {
		background: none;
		border-color: @white;
		color: @white;
		&:hover {
			background: @white;
			color: @grey-blue;
		}
	}
}

.bg.white {
	.btn-ghost {
		background: none;
		border-color: @grey-blue;
		color: @grey-blue;
		&:hover {
			background: @grey-blue;
			border-color: @grey-blue;
			color: @white;
		}
		&:focus {
			background: @grey-blue;
			border-color: @grey-blue;
			color: @white;
		}
	}
}
.footer-link, .footer:hover {
	color: @white !important;
}
.logo {
	margin-top: -128px;
	padding-bottom: 64px;
}
.project-title {
	padding: 16px 0 32px 0;
	margin: 0;
	text-transform: uppercase;
}

